header, nav, main, aside, footer {
    background-color: #F0E4C8;
}

body {
    background-color: #F0E4C8;
    display: grid;
    height: 545px;
    grid-template-areas:
    'nav header sidebar'
    'nav content sidebar'
    'nav content sidebar';
    grid-template-columns: 0.4fr 2fr 1fr;
    grid-template-rows: auto;
    gap: 10px;

}
header{
    grid-area: header;
    text-align: center;
}
main{
    grid-area: content;
    text-align: center;

}
aside {
    grid-area: sidebar;
    justify-content: center;


}
nav {
    grid-area: nav;
}
footer {
    grid-area: footer;
    text-align: center;
}

h1{
font-size: 40px;
}

#desc{
    font-size: 20px;
    font-style: italic;
    font-family: "Times New Roman";
}



.icon-bar {
  width: 90px;
margin-top: 15%; /*icon bar up and down*/
  background-color: #555;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #F0E4C8;
}

/* The slider itself */
.slider {
  appearance: none;
  width: 20%;
  height: 5px;
  background: white;
  outline: none;
  display: inline-flex;
  opacity: 0.7;
  transition: opacity .2s;


}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: darkgray;
  cursor: pointer; /* Cursor on hover */
    border-radius: 40%;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}




h2{
    margin-top: 20%;
    font-size: 30px;
    font-style: italic;
}


.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
margin-left: 3%;
     display: inline-block;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
    border-radius: 20px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
    border-radius: 30px;
}

/* Style the front side */
.flip-box-front {
  background-color: indianred;
  color: black;

}

/* Style the back side */
.flip-box-back {
  background-color: #555555;
  color: white;
  transform: rotateY(180deg);
}

.flip-box2 {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
margin-left: 3%;
     display: inline-block;

}


/* Position the front and back side */
.flip-box-front2, .flip-box-back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
    border-radius: 30px;
}


/* Style the front side */
.flip-box-front2 {
  background-color: peru;
  color: black;

}

/* Style the back side */
.flip-box-back2 {
  background-color: #555555;
  color: white;
  transform: rotateY(180deg);
}
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box2:hover .flip-box-inner {
  transform: rotateY(180deg);
}
h4{
    margin-top: 20%;
    font-size: 30px;
}

#DegreeName{
border-color: #F0E4C8;
border-radius: 20px;
padding: 4px;
  text-align: center;
  font-size: 14px;
  font-family: "Times New Roman" ;
  width: auto;
}
#text{
    font-size: 18px;
    font-weight: bold;
}
#moneyPic{
    margin-top: 62%;
}