
header, nav, main, aside{
    background-color: #F0E4C8;
}

body {
    background-color: #F0E4C8;
    display: grid;
    height: 545px;
    grid-template-areas:
    'nav header sidebar'
    'nav content sidebar'
    'nav content sidebar';
    grid-template-columns: 0.1fr 3fr 1fr;
    grid-template-rows: 30% 70% 10%;
    gap: 10px;

}
header{
    grid-area: header;
    text-align: center;
}
main{
    grid-area: content;
    /*text-align: center;*/

}
aside {
    grid-area: sidebar;
    justify-content: center;


}
nav {
    grid-area: nav;
}


h1{
font-size: 40px;
}
.info {
    font-size: 16px;
    font-style: italic;
}
.rankPic{
    padding-top: 40%;
}
table{
  width: 70%;
    margin-top: 3%;

}
th{
    text-align: center;
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 18px;
}
table,th,td{
    border: 1px solid #000;
    justify-content: center;


}
th{
    background-color: coral;
}
td{
    background-color: peachpuff;

}
th,td{
padding: 20px;
}
#textBoxes{
    margin-top: 3%;
    display: inline-block;

}

#DegreeName {
    border-color: #F0E4C8;
border-radius: 20px;
padding: 4px;
  text-align: center;
  font-size: 14px;
  font-family: "Times New Roman" ;
  width: auto;
}
#AcademicInstitution{
    border-color: #F0E4C8;
border-radius: 20px;
padding: 4px;
  text-align: center;
  font-size: 14px;
  font-family: "Times New Roman" ;
  width: auto;
}

#prestigeRate{

}
#radioText{
margin-left: 15%;
/*    display: inline-block;*/
}
#radioBtn{
    font-style: italic;
    display: inline-block;
    margin-inline: 1%;
    width: 50%;
}

#satisfactionRate{
    margin-left: 32%;
}
#totalRate{
    margin-left: 32%;
}

.icon-bar {
  width: 90px;
margin-top: 15%; /*icon bar up and down*/
  background-color: #555;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #F0E4C8;
}
