<!DOCTYPE html>
<html lang="en">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <head>
      <meta charset="UTF-8">
      <title>About Us</title>
      <link rel="stylesheet" href="../Static/CSS/AboutUsPage.css">
   </head>
   <body>
      <header>
         <h1>About Us</h1>
      </header>
      <nav>
         <img class="logoImg" src="../Static/Images/logoPic1.png" alt = "">
         <div class="icon-bar">
            <a href="HomePage.html"><i class="fa fa-home"></i></a>
            <a  href="DegreesSearchPage.html"><i class="fa fa-search"></i></a>
            <a href="RanksPage.html"><i class="fa fa-star"></i></a>
            <a  href="EmploymentPage.html"><i class="fa fa-dollar"></i></a>
            <a class="active" href="AboutUsPage.html"><i class="fa fa-book"></i></a>
            <a href="LoginPage.html"><i class="fa fa-key"></i></a>
         </div>
      </nav>
      <main>
         <p>Hello and welcome to LearnWhere website. </p>
         <p> The site was established in December 2022 to help people find their next degree.
            The need arose from the multitude of educational institutions that exist in the country and the confusion created among those people who want to start through them in academia.
         </p>
         <h3>On our website you can find some interesting things:</h3>
         <p>The degree search page - you can search for any degree you want and we will show you all the important details about where you can study it, cost, prerequisites and many other things. </p>
         <p>The rankings page - on this page you can find the ranking of each degree in the various educational institutions. You can choose according to which index you want to display the data from among the various indices we found.</p>
         <p>The employment options page - on this page you can find employment options and an average initial salary for any degree.</p>
         <p>Thank you for using our site and we hope we can help as much as possible.</p>
         <h4>Good luck with your next degree!</h4>
      </main>
      <aside>
         <img src="../Static/Images/aboutUsPic.png" id="aboutUsPic" alt="">
      </aside>
   </body>
</html>