<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Degrees We Found</title>
  <link rel="stylesheet" href="DegreesWeFound.css">
</head>

<body>

      <div id = "logoImg">
         <img src="logoPic1.png" alt = "">
      </div>


          <h1>Degrees We Found</h1>
          <img src="degreeWeFoundPic.png" alt = "">



      <div id = "middle-section">
<table>
  <tr>
    <th>Degree Name</th>
    <th>Type</th>
    <th>Academic Institution</th>
    <th>Location</th>
      <th>Cost Range</th>
    <th>Degree Length</th>
      <th>Requirements</th>
    <th>Link</th>
  </tr>
  <tr>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
      <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
  </tr>
    <tr>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
      <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
  </tr>

    <tr>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
      <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
  </tr>

    <tr>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
      <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
  </tr>

    <tr>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
      <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
  </tr>
</table>
      </div>

      <div id="end-section">
         <div id = "buttons">
           <a href="DegreesSearchPage.html"> <button class="button backButton">Back To Search<</button></a>
         </div>
      </div>


</body>
</html>