<!DOCTYPE html>
<html lang="en">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <head>
      <meta charset="UTF-8">
      <title>Employment Page</title>
      <link rel="stylesheet" href="EmploymentPage.css">
   </head>
   <body>
      <header>
         <h1>Employment Options</h1>
         <p id="desc">On this page you can find employment options and first average salary for the degree you choose</p>
      </header>
      <nav>
         <img class="logoImg" src="logoPic1.png" alt = "">
         <div class="icon-bar">
            <a href="HomePage.html"><i class="fa fa-home"></i></a>
            <a href="DegreesSearchPage.html"><i class="fa fa-search"></i></a>
            <a href="RanksPage.html"><i class="fa fa-star"></i></a>
            <a class="active" href="EmploymentPage.html"><i class="fa fa-dollar"></i></a>
            <a href="AboutUsPage.html"><i class="fa fa-book"></i></a>
            <a  href="LoginPage.html"><i class="fa fa-key"></i></a>
         </div>
      </nav>
      <main>
         <div id="label">
            <label for="DegreeName" id="text">Degree Name:</label>
            <select name="DegreeName" id="DegreeName">
               <option value="Industrial Engineering and Management">Industrial Engineering and Management</option>
            </select>
         </div>
         <br><br>
         <div class="flip-box">
            <div class="flip-box-inner">
               <div class="flip-box-front">
                  <h2>Employment Option</h2>
               </div>
               <div class="flip-box-back">
                  <h3>Analyst,BI Developer,Project management, production line manager, planner, procurement manager </h3>
               </div>
            </div>
         </div>
         <div class="flip-box2">
            <div class="flip-box-inner">
               <div class="flip-box-front2">
                  <h2>Average Salary</h2>
               </div>
               <div class="flip-box-back2">
                  <h4>12,000-14,000 Nis </h4>
               </div>
            </div>
         </div>
      </main>
      <aside>
         <img src="moneyPic.png" id="moneyPic">
      </aside>
   </body>
</html>