<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
  <link rel="stylesheet" href="HomePage.css">


</head>
<body>


      <div class="container">
          <header id="showcase">
              <h1>Welcome To LearnWhere</h1>
          </header>
          <div class="content">
              Our site helps people find their next degree. You can find a lot of information about a particular degree,<br>
              start by clicking on what you want to find.

          </div>
          <a href="LoginPage.html" class = "btn" id="privateBtn">Back to Login Page <i class="fa fa-key"></i></a>
          <a href="DegreesSearchPage.html" class = "btn" id="searchBtn">Degree Search <i class="fa fa-search"></i> </a>
           <a href="RanksPage.html" class = "btn" id="ranksBtn"> Ranks <i class="fa fa-star"></i></a>
          <br>
          <a href="EmploymentPage.html" class = "btn" id="optionsBtn">Employment Options <i class="fa fa-dollar"></i></a>
          <a href="AboutUsPage.html" class = "btn" id="aboutBtn">About Us <i class="fa fa-book"></i></a>



      </div>



</body>
</html>