<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name = "description" content = "This website help people to find academic degree">
      <title>LearnWhere</title>
      <link rel="stylesheet" href="LoginPage.css">
   </head>

   <body>

      <div id = "headers">
         <div>
            <h1>LearnWhere</h1>
         </div>
         <div>
            <h3>Let's Find Your Degree Today!</h3>
         </div>
      </div>

      <div id = "middle-section">
         <div id = "labels">
            <label for="Username">Username:</label>
            <input type="text" id="Username" name="Username" >
            <br><br>
            <label for="Password">Password:</label>
            <input type="text" id="Password" name="Password" >
         </div>
         <div id = "image">
            <img src="StudentCap.png" alt="Student Cap Pic" >
         </div>
      </div>

      <div id = "buttons">

         <a href="HomePage.html"> <button  class="button loginButton"  >Login</button></a>
         <a href="NewUserPage.html"> <button class="button createButton">Create New Account</button></a>
      </div>
      <br>

   </body>

</html>