<!DOCTYPE html>
<html lang="en">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <head>
      <meta charset="UTF-8">
      <title>Ranks Page</title>
      <link rel="stylesheet" href="RanksPage.css">
   </head>
   <body>
      <header>
         <h1>Ranks</h1>
         <p class="info">On this page you can find the ranking of the various educational institutions in Israel in the context of a certain department.
            The ranking is weighted according to several parameters that are calculated in an international way.
         </p>
      </header>
      <nav>
         <img class="logoImg" src="logoPic1.png" alt = "">
         <div class="icon-bar">
            <a href="HomePage.html"><i class="fa fa-home"></i></a>
            <a href="DegreesSearchPage.html"><i class="fa fa-search"></i></a>
            <a class="active" href="RanksPage.html"><i class="fa fa-star"></i></a>
            <a  href="EmploymentPage.html"><i class="fa fa-dollar"></i></a>
            <a href="AboutUsPage.html"><i class="fa fa-book"></i></a>
            <a href="LoginPage.html"><i class="fa fa-key"></i></a>
         </div>
      </nav>
      <main>
         <div id="textBoxes">
            <label for="DegreeName">Degree Name:</label>
            <select name="DegreeName" id="DegreeName">
               <option value="Industrial Engineering and Management">Industrial Engineering and Management</option>
               <option value="Electrical Engineering">Electrical Engineering</option>
               <option value="Mechanical Engineering">Mechanical Engineering</option>
            </select>
            <br><br><br>
            <label for="AcademicInstitution">Academic Institution:</label>
            <select name="AcademicInstitution" id="AcademicInstitution">
               <option value="Ben Gurion University">Ben Gurion University</option>
               <option value="Tel Aviv University">Tel Aviv University</option>
               <option value="Sami Shamoon College">Sami Shamoon College</option>
            </select>
         </div>
         <div id="radioBtn">
            <label id="radioText">Order By:</label>
            <input type="radio" id="prestigeRate" name="fav_rate" value="prestigeRate">
            <label for="prestigeRate">Prestige Rate</label>
            <input type="radio" id="lecturersRate" name="fav_rate" value="lecturersRate">
            <label for="lecturersRate">Lecturers Rate</label><br>
            <input type="radio" id="satisfactionRate" name="fav_rate" value="satisfactionRate">
            <label for="satisfactionRate">Satisfaction Rate</label>
            <input type="radio" id="socialRate" name="fav_rate" value="socialRate">
            <label for="socialRate">Social Rate</label>
            <input type="radio" id="totalRate" name="fav_rate" value="totalRate">
            <label for="totalRate">Total Rate</label>
         </div>
         <table>
            <tr>
               <th>Degree Name</th>
               <th>Academic Institution</th>
               <th>Prestige Rate</th>
               <th>Lecturers Rate</th>
               <th>Satisfaction Rate</th>
               <th>Social Rate</th>
               <th>Total Rate</th>
            </tr>
            <tr>
               <td> </td>
               <td> </td>
               <td> </td>
               <td> </td>
               <td> </td>
               <td> </td>
               <td> </td>
            </tr>
            <tr>
               <td> </td>
               <td> </td>
               <td> </td>
               <td> </td>
               <td> </td>
               <td> </td>
               <td> </td>
            </tr>
            <tr>
               <td> </td>
               <td> </td>
               <td> </td>
               <td> </td>
               <td> </td>
               <td> </td>
               <td> </td>
            </tr>
            <tr>
               <td> </td>
               <td> </td>
               <td> </td>
               <td> </td>
               <td> </td>
               <td> </td>
               <td> </td>
            </tr>
            <tr>
               <td> </td>
               <td> </td>
               <td> </td>
               <td> </td>
               <td> </td>
               <td> </td>
               <td> </td>
            </tr>
         </table>
      </main>
      <aside>
         <img class="rankPic" src="rankPic.png" alt="">
      </aside>
      <footer></footer>
   </body>
</html>